@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
}
.navBarTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: Gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green
}
.navbarBottom{
    display: flex;
    align-items: center;
    justify-content: center;

}
.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    cursor: pointer;
    font-weight: 400;
}
.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
  }
  .sliderWrapper{
      display: flex;
      width: 500vw;
      transition: all 1s ease-in-out;
  }
  .sliderItem{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
  .sliderBg {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
  }
  .sliderTitle{
      position: absolute;
      top:10%;
      right: 8%;
      font-size: 60px;
      font-weight: bold;
      color: white;
      z-index: 1;

  }.sliderimg{
      z-index: 1;
  }
  .sliderPrice{
      position: absolute;
      top:10%;
      left: 10%;
      font-size: 60px;
      font-weight: 300;
      color: white;
      border: 1px solid gray;
      z-index: 1;

  }
  .buyBtn{
    position: absolute;
    top:50%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
  }
  .buyBtn:hover{
      background-color: white;
      color: black;
  }
/* SLider Background color */
  .sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
  }
  .sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
  }
  .sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
  }
  .sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
  }

  /* Button item color */
  .sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
  }
  .sliderItem:nth-child(2) .sliderPrice {
    color: white;
  }
  .sliderItem:nth-child(3) .sliderPrice {
    color: teal;
  }
  .sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
  }
  .sliderItem:nth-child(5) .sliderPrice {
    color: cornsilk;
  }
  .features{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .featureimg{
    max-width: 150px;
    max-height: 100px;
  }
  .FeatureTitle{
      font-size: 20px;
      font-weight: 600;
      margin: 20px;
  }
  .featureDesc{
      color: gray;
      width: 50%;
      height: 100px;
  }
  .product{
      height: 100vh;
      background-color: whitesmoke;
      position: relative;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .productImg img{
   margin-top: 50px;
      width: 50%;
  }
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  .productTitle{
      font-size: 75px;
      font-weight: 900;
  }
  .productDesc{
      font-size: 24px;
      color: gray;
  }
  .colors,.sizes{
      display: flex;
      margin-bottom: 20px;
  }
  .color{
      height: 32px;
      width: 32px;
      border-radius: 5px;
      background-color: palevioletred;
      margin-right: 10px;
      cursor: pointer;
  }
  .color:last-child{
      background-color: #369e62;
  }
  .size{
      padding: 5px 20px;
      border: 1px solid black;
      margin-right: 10px;
      cursor: pointer;
      font-size: 20px;
  }
  .productBtn{
      float: right;
      padding: 10px 20px;
      background-color: black;
      color: white;
      font-weight: 600;
      cursor: pointer;
  }
  .productBtn:hover{
      background-color: white;
      color: black;
  }
  .payment{
      width: 500px;
      height: 500px;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 10px 54px;
      display: none;
      flex-direction: column;
      -webkit-box-shadow: 3px 5px 13px -3px rgba(0,0,0,0.97); 
    box-shadow: 3px 5px 13px -3px rgba(0,0,0,0.97);
  }
.payTitle{
    font-size: 20px;
    color: rgb(89, 88, 88);
}
label{
    font-size: 14px;
    font-weight: 300;
}
.payInput{
    padding: 10px;
    margin: 10px 0px;
    border:none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder{
    color: rgb(114, 114, 114);
}
.cardIcons{
    display: flex;
    
}
.fa-brands{
    margin-right: 20px;
}
.cardInfo{
    display: flex;
    justify-content: space-between;
}
.sm{
    width: 30%;
}
.payBtn{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 3px 5px 13px -3px rgba(0,0,0,0.97); 
    box-shadow: 3px 5px 13px -3px rgba(0,0,0,0.97);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}
.footer {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 400;
}

.fade {
    margin-top: 15px;
    text-align: center;
    opacity: 0.5;
}

ul a {
    color: inherit;
    text-decoration: none;
}

ul li {
    display: inline-block;
    padding: 0 5px;
}

hr {
    opacity: 0.3;
}

@media screen and (max-width: 480px) {
    nav{
        padding: 20px;

    }
    .search{
        display: none;
    }
    .navbarBottom{
        flex-wrap: wrap;
    }
    .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .slider{
        clip-path: none;
    }
    .sliderimg{
        width: 90%;
    }
    .sliderBg{
        width: 100%;
        height: 100%;
    }
    .sliderTitle{
        display: none;
    }
    .sliderPrice{
        top: unset;
        bottom: 0;
        left: 0;
        background-color: lightgray;
    }
    .buyBtn{
        top: 0;
        right: 0;
        font-size: 22px;
    }
    .features{
        flex-direction: column;
    }
    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productImg{
        width: 80%;

    }
    .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }
    .productTitle{
        font-size: 50px;
        margin: 0;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .fade{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .fade li{
        margin-bottom: 20px ;
        margin-right: 30px;
    }
    .footer p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}